@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Kanit&family=Mochiy+Pop+P+One&family=Poppins:wght@300;400;500;600;700;800;900&family=Secular+One&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fc4a55 repeat-y 100px 100px / 120px 80px fixed;
    transition: .5s;
}
.bg::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(0,0,0,.1);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}
header .nevigation{
    position: relative;
    display: flex;
}
header .nevigation li{
    list-style: none;
}
header .nevigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 40px;
    text-decoration: none ;
}
header .nevigation li a.active,
header .nevigation li a:hover{
    background: #fff;
    color: #333;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
}
.content .textbox p{
    color: #fff;
    margin-top: 20px;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:#fff;
    color: #333;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
.content .imgBox{
    position: relative;
    z-index: 1;
    width: 600px;
    display: flex;
    justify-content:flex-end;
    top: 0;
}
.content .imgBox img{
    max-width: 400px;
    
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 250px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    height: 50px;
    background: rgba(255,255,255,0.1);
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.25);
}
.thumb li.active{
    border: 2px solid rgba(255,255,255,1);
}
.thumb li::before{
    position: absolute;
    top: -200px;
    left: -100px;
    content: attr(data-text);
    white-space: nowrap;
    font-size: 8em;
    color: rgba(0,0,0,.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumb li.active::before{
    opacity: 1;
}
.thumb li img{
    max-width: 50px;
}
.sci{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
@media (max-width: 412px) {
    .bg::before{
        display: none;
    }
    header{
            font-size: 10px;
            width: 80%;
            padding: 10px 10px;
    }
    section{
        padding: 20px;
        padding-bottom: 120px;
    }
    .content{
        margin-top: 100px;
        flex-direction: column;
    }
    .content .textbox{
        max-width: 100%;
        margin-left: 100px;
        font-size: 15px;
    top: 20px;
    }
    .content .textbox h2{
        font-size: 25px;
        margin-bottom: 15px;
    }
    .thumb{
        margin-left: -40px;
    }
    .sci{
        top: 20%;
    right: 40px;
    }
    .content .imgBox img {
        max-width: 300px;
        margin-right: 85px;
        margin-top: 50px;
    }
}
@media (max-width: 390px){
    .content .textbox {
        max-width: 100%;
        margin-left: 100px;
        font-size: 15px;
        top: 50px;
    }
        .thumb {
            margin-left: -25px;
            bottom: 160px;
        }
        .content .textbox h2 {
            font-size: 18px;
            margin-top: 30px;
        }
        header {
            font-size: 5px;
            width: 80%;
            padding: 10px 10px;
        }

} 